.footer-brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.footer-brand img {
  background: #ad343e;
  mix-blend-mode: hard-light;
}

.footer-brand .footer-title {
  margin-top: 15px;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 32.67px;
  font-style: "italic";
  font-weight: 600;
  line-height: 29.333px; /* 89.787% */
  letter-spacing: -0.4px;
}

.foot-desc-txt {
  margin-top: 22px;
  color: #fff;
  width: 300px;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 150% */
}

.sns-context {
  margin-top: 17px;
  width: 177px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sns-context div {
  width: 37px;
  height: 38px;
  border-radius: 50%;
  background: #ad343e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-category-title {
  width: 100%;
  color: #c5c8c9;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.foot-category-link {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 140% */
}

.foot-category-link a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.foot-category-img {
  position: relative;
  right: 60px;
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  height: 318px;
}

.foot-category-img .foot-img img {
  width: 180px;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.find-us {
  display: flex;
  flex-direction: row;
}

.find-us span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #e3c08d;
}

.find-us div {
  margin-left: 10px;
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.copyright-txt {
  margin-top: 17px;
  color: #adb29e;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
