.homepage {
  width: 100%;
  height: auto;
}

/** STATISTICS **/

.homepage .static-frame {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
}

.homepage .static-frame .info {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .static-frame .info .static-box {
  width: 200px;
  height: 116px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homepage .static-frame .info .static-box div {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 10px 0px 0px;
}

.homepage .static-frame .info .static-box .static-text {
  color: #1a1a1a;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 50%; /* 19.2px */
}

.homepage .static-frame .info .static-box .static-free {
  color: #999;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

/** NEW PRODUCTS **/

.homepage .new-products-frame {
  width: 100%;
  height: auto;
  background: #f8f8f8;
  display: flex;
}

.homepage .main {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .new-products-frame .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.homepage .new-products-frame .main .cards-frame {
  position: relative;
  width: 1300px;
  height: 750px;
  gap: 15px;
  margin: 47px 2px 2px 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homepage .new-products-frame .main .card {
  position: relative;
  width: 290px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(190deg, rgba(78, 80, 80, 0) 0%, #e6e9e9dd 100%);
  box-shadow: 12px 4px 12px 0px rgba(2, 14, 50, 0.07);
  transition: transform 0.3s;
  cursor: pointer;
}

.homepage .new-products-frame .main .card:hover {
  opacity: 1;
  transform: scale(1.05);
}

.homepage .new-products-frame .main .card img {
  position: relative;
  width: 260px;
  height: 220px;
  border-radius: 20px;
  background-size: cover;
}

.homepage .new-products-frame .product-detail {
  position: relative;
  width: 270px;
  height: 130px;
  display: flex;
  bottom: 30px;
  gap: 15px;
}

.homepage .new-products-frame .product-detail .desc {
  color: #000;
  font-family: "Dancing Script";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.76px;
}

.homepage .new-products-frame .product-detail .info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .new-products-frame .product-detail .info .desc-img {
  width: 22px;
  height: 22px;
}

.homepage .new-products-frame .product-detail .info .title {
  position: relative;
  width: 100%;
  height: 30px;
  gap: 5px;
  display: flex;
  align-items: center;
  color: #000;
  font-family: "Dancing Script";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.homepage .new-products-frame .product-detail .title .rest-icon {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.homepage .new-products-frame .product-detail .price {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #ad343e;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  letter-spacing: -0.72px;
}

.homepage .new-products-frame .product-detail .price-cnt {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Dancing Script";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

.homepage .new-products-frame .product-detail .divider {
  margin: 0 10px 0 10px;
  width: 5px;
  background-color: #d9d9d9;
}

.homepage .new-products-frame .product-detail .views {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.homepage .new-products-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** BRANDS LOGO **/
.brands-logo {
  width: 100%;
  height: 580px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
}

.brands-logo .restaurant-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.brands-logo .family-brands {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.brands-logo .order-app {
  position: relative;
  width: 640px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.brands-logo .order-app .order-logo {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.brands-logo .order-app .order-logo2 {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brands-logo .order-app .order-logo3 {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.brands-logo .order-app .order-logo img {
  position: relative;
  width: 160px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.brands-logo .order-app .order-logo2 img {
  position: relative;
  width: 160px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.brands-logo .order-app .order-logo3 img {
  position: relative;
  width: 160px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.brands-logo .family-brands span {
  width: 320px;
  color: #2c2f24;
  font-family: "Playfair Display";
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
}

.brands-logo .family-brands p {
  width: 320px;
  color: #414536;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.brands-logo .restaurant-img {
  width: 1250px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/** ADVERTISEMENT **/

.homepage .ads-restaurant-frame {
  width: 100%;
  height: 693px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transform: perspective(0px);
  box-shadow: -3px 0px 20px 14px #34343480;
}

.homepage .ads-restaurant-frame .ads-video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215 215 255);
  transform: scale(1.5);
  overflow: hidden;
}

/** ACTIVE USERS **/

.homepage .active-users-frame {
  width: 100%;
  height: 766px;
  background: #f8f8f8;
  display: flex;
}

.homepage .active-users-frame .main {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .active-users-frame .category-title {
  font-family: "Roboto Serif";
  margin-top: 50px;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(52, 52, 52);
}

.homepage .active-users-frame .main .cards-frame {
  width: 100%;
  margin: 30px 0px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .active-users-frame .main .card {
  width: 405px;
  height: 360px;
  margin-top: 40px;
  border-radius: 12px;
  background: #efefea;
  cursor: pointer;
}

.homepage .active-users-frame .main .card .member-post {
  margin-top: 15px;
  color: #ad343e;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  letter-spacing: -0.72px;
}

.homepage .active-users-frame .main .card .member-comment {
  color: #414536;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.homepage .active-users-frame .main .card .divider {
  width: 270px;
  height: 1px;
  opacity: 0.7;
  background: #414536;
}

.homepage .active-users-frame .main .card .user-img {
  position: relative;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage .active-users-frame .main .card .user-img img {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  border-radius: 70px;
  background: lightgray 50% / cover no-repeat;
}

.homepage .active-users-frame .main .card .user-img span {
  color: #2c2f24;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px; /* 150% */
}

.homepage .active-users-frame .main .card .user-img p {
  color: #414536;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1px; /* 150% */
}

.homepage .active-users-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** EVENTS **/

.homepage .events-frame {
  width: 100%;
  height: 745px;
  background: #f8f8ff;
  display: flex;
}

.homepage .events-frame .category-title {
  color: #2c2f24;
  font-family: "Playfair Display";
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px; /* 110% */
}

.homepage .events-frame .events-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events-frame .events-main .events-text {
  width: 675px;
  height: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .events-frame .events-main .prev-next-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 40px 0 40px 0;
  height: 25px;
}

.homepage .events-frame .dot-frame-pagination {
  position: relative;
  width: auto;
  display: flex;
}

.homepage .events-frame .events-main .events-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .events-info .events-info-frame {
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events-frame .events-img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
  object-fit: cover;
}

.homepage .events-frame .events-desc {
  position: absolute;
  margin-bottom: 7px;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: #f8f8ff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
}

.homepage .events-frame .events-desc .events-bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .events-frame .events-desc .events-bott .bott-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .events-frame .bott-left .event-title-speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .event-title-speaker .event-organizator {
  display: flex;
  align-items: center;
}

.homepage .events-frame .event-title-speaker .event-organizator img {
  width: 20px;
  margin-right: 10px;
}

.homepage .events-frame .event-organizator .spec-text-author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
}

.homepage .events-frame .bott-left .text-desc {
  margin-top: 10px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
}

.homepage .events-frame .bott-left .bott-info {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 16px;
}

.homepage .events-frame .bott-info .bott-info-main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.homepage .events-frame .bott-info .bott-info-main img {
  margin-right: 10px;
}

.homepage .events-frame .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .events-frame .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #f8f8ff;
  border-radius: 50%;
}

.homepage .events-frame .swiper-pagination-bullet-active {
  background: #343434;
  border-radius: 50%;
}
